
{%extends "base.html"%}
{% load staticfiles%}
{% block content %}
<div class="container">


<div class="row">
<div class="col-sm-4">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{%static 'images/bg1.jpg'%}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Github Link</a>
    </div>
  </div>
  </div>
   <div class="col-sm-4">
     <div class="card" style="width: 18rem;">
       <img class="card-img-top" src="{%static 'images/bg1.jpg'%}" alt="Card image cap">
       <div class="card-body">
         <h5 class="card-title">Card title</h5>
         <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
         <a href="#" class="btn btn-primary">Github Link</a>
       </div>
     </div>
     </div>
      <div class="col-sm-4">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="{%static 'images/bg1.jpg'%}" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Github Link</a>
          </div>
        </div>
    </div>


  </div>
  </div>




{%endblock%}
